<h3 class="heading">Editing Contact</h3>


<div class="col-md-6">
  <div class="row">
    <div class="panel panel-danger">
      <%= render 'form', contact: @contact %>

      <%= link_to 'Show', @contact %> |
      <%= link_to 'Back', contacts_path %>
    </div>
  </div>
</div>
