<h3 class="heading">Add A Contact</h3>
<%= link_to 'Back', contacts_path, class: "" %>
<div class="col-md-9 left">
  <div class="row">
    <div class="panel panel-danger">
      <%= render 'form', contact: @contact %>

    </div>
  </div>
</div>
