// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// All Rights Reserved


$white: #ffffff;
$blue-grey: #eceff1;
$green-lighten-2: #81c784;
$red-lighten: #ffcdd2;
$black: rgba(0,0,0,0.6);
$red: #ef5350;
$yellow: #f90;
$black-opacity: rgba(0,0,0,0.4);

.heading {
  margin-left: 4%;
  font-family: cursive;
}
.new_contact {
  float: right;
  font-size: 15pt;
  margin: 12px 10% 0 0;
  text-decoration: none;
}

.brand-logo {
  margin: 0 0 0 5% ;
  text-decoration: none;
  &hover{
    background: $white;
    transition: 2s;
  }
}

.data-field {
  margin: 2% 20% auto;
}

.user-info {
  float: right;
  background: $blue-grey;
  bottom: 0;
  width: 200px;
  height: 50px;
  border-top-right-radius: 12px;
  border-top-left-radius: 5px;
  position: fixed;
  padding: 4px;
  .profile-pic {
    width: 40px;
    height: 40px;
    margin-left: 6px;
    border-radius: 80px;
  }
  .online_user {
    color: $green-lighten-2;
    margin-top: 14px;
    padding: 7px;
    width: 100%;
    border-top: 0.4px solid $red-lighten;
  }
}

#footer {
  width: 100%;
  position: absolute;
  margin-top: 400px;
  bottom: 0;
  z-index: 2;
}

.user-info:hover{
  height: 119px;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  transition: all .4s ease-in-out;
}

#a_tag {
  text-decoration: none;
  color: $white;
}

#side-bar {
  position: fixed;
  top: 200px;
  bottom: 200px;
  left: -410px;
  background: $red;
  color: $black;
  font-size: 60px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

.sessionCtrlr {
  line-height: 64px;
  margin-right: 4%;
}

.open {
    left: 0;
}

#panel {
    width: 410px;
    float: left;
}

#tab {
    width: 70px;
    background: $yellow;
    cursor: pointer;
    float: left;
}

// Show page contacts

.show_container{
  width: 40%;
  margin: 50px auto;
}


//  Media Queries Doing the Job here Don't Disturb

@media only screen and (max-width : 992px) {
  #side-bar {
    display: none;
  }

  .user-info{
    width: 100%;
    height: 12px;
    background: $black-opacity;
    &hover{
      height: 30px;
    }
    .online_user{
      margin-top: -12px;
    }
  }
}

@media (max-width: 767px) {
    .header{
        text-align : center;
    }

    .picture_show {
      width: 30%;
      height: 30%;
    }

    .nav{
        margin-top : 30px;
    }
}
