<nav>
  <div class="nav-wrapper blue darken-1">
    <a href="#" class="brand-logo" id="a_tag" >QBase</a>
    <ul class="right hide-on-med-and-down">
      <li class="searchBtn" ><a href="#"><i class="glyphicon glyphicon-search left"></i></a></li>
      <li><%= link_to '' %><i class="glyphicon glyphicon-user right"></i></a></li>
      <% if current_user %>
      <li>
        <!--Check if current user if logged in-->
        <%#= link_to 'My Profile', user_path(@user), method: :get %>
        </li>
          <li><%= link_to 'Contacts', contacts_path, method: :get, class: 'sessionCtrlr', id: 'a_tag' %></li>
      <% else %>

        <li><%= link_to 'Dashboard', contacts_path, id: 'a_tag', class: 'sessionCtrlr' %></li>
        <li><%= link_to '',  id: 'a_tag' %></li>

      <% end %>


    </ul>
  </div>
</nav>

<!-- End of Navigation Bar -->
