<div id="side-bar">
    <div class="list-group" style="text-align: right;">
      <a class="list-group-item" href="/">&nbsp; <i class="glyphicon glyphicon-home" aria-hidden="true"></i></a>
      <a class="list-group-item" href="/contacts">&nbsp; <i class="glyphicon glyphicon-user" aria-hidden="true"></i></a>
      <a class="list-group-item" href="#">&nbsp; <i class="glyphicon glyphicon-paperclip" aria-hidden="true"></i></a>
      <a class="list-group-item" href="#">&nbsp; <i class="glyphicon glyphicon-search" aria-hidden="true"></i></a>
    </div>
</div>
